.root {
  padding-block: 12px;
  padding-inline: 30px;
}

.span {
  display: flex;
  align-items: center;
  position: relative;
}

.counter {
  position: absolute;
  left: 60%;
  top: -4px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  line-height: 130%;
  text-align: center;
  color: #fff;
  border-radius: 15px;
  background: linear-gradient(144deg, #de1717 0%, #780d0d 100%);
  min-height: 15px;
  min-width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 4px;
}


@media screen and (max-width: 1024px) {
  .root {

  padding-inline: 12px;
}

}