.root {
  margin-top: 20px;
  padding: 18px 20px 18px 28px;
  border-radius: 10px;
  border: 1px solid #780d0d;
  display: flex;
  flex-direction: row;
  gap: 28px;
  align-items: center;
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #fff;
}
