.root {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 200px;
  min-width: 200px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .root {
    grid-template-columns: 1fr;
    max-width: unset;
  }
}
@media screen and (max-width: 768px) {
  .root {
    grid-template-columns: repeat(2, 1fr);
  }
}
