.root {
  display: flex;
  gap: 20px;
}

.left {
  flex-grow: 1;
}

.right {
  max-width: 400px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.field_title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #fff;
}

.sum_container {
  display: flex;
  gap: 14px;
}

.text_container {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
  margin-bottom: clamp(30px, 3.5dvw, 50px);
  margin-top: clamp(10px, 1.4dvw, 20px);
}

.text {
  display: flex;
  justify-content: space-between;
}

.button {
  margin-top: 20px;
}

.sum_input {
  flex: 1;
}

.message {
  margin-top: 20px;
  padding: 18px 20px 18px 28px;
  border-radius: 10px;
  border: 1px solid #0d781b;
  display: flex;
  flex-direction: row;
  gap: 28px;
  align-items: center;
}
.message_pr {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  color: #0d781b;
}

.message_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .root {

    flex-direction: column;
  }

  .right {
    max-width: unset;
  }
}
