.root {
  min-height: 30px;
  min-width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(24px);
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.25);
  background: #23252a;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding-inline: 4px;
  position: relative;
  transition: color 0.4s ease-in-out, border-color 0.4s ease-in-out;
}

.root:focus-visible {
  border-color: #fff;
}

.root.dots {
  padding-inline: 13px;
  min-width: 40px;
  max-width: 40px;
  pointer-events: none;
}

@media (hover: hover) {
  .root:hover {
    color: #fff;
    border-color: rgba(255, 255, 255, 0.8);
  }
}

.root.active {
  color: #fff;
  background: linear-gradient(152deg, #de1717 0%, #780d0d 100%);
}

@media screen and (max-width: 768px) {
  .root.dots {
   padding-inline: 4px;
    min-width: 30px;
    max-width: 30px;
    pointer-events: none;
  }
}
