.root {

  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 180px;
  backdrop-filter: blur(24px);
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.25);
  background: #23252a;
  border-radius: 10px;
  padding-top: 10px;
  border: 1px solid rgba(225, 225, 225, 0.4);
}

.top {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  color: #8a61b3;
  min-height: 16px;
  margin-bottom: 12px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.img {
  position: relative;
  z-index: 1;
  max-height: 112px;
  width: auto;
  margin-bottom: 12px;
}

.descr {
  padding-inline: 10px;
  margin-top: auto;
}
.name {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 5px;
}

.price {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #fff;
  margin-bottom: 5px;
}

.button {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #de1717;
  width: calc(100% + 2px);
  background: none;
  border: none;
  padding-top: 7px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
  border-radius: 0 0 10px 10px;
  margin-bottom: -1px;
  margin-left: -1px;
  transition: color 0.4s ease-in-out;
  z-index: 2;
}
.button::after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  background: linear-gradient(144deg, #de1717 0%, #780d0d 100%);
  z-index: -1;
  transition: opacity 0.4s ease-in-out;
  border-radius: inherit;
}

.root::after {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(24px);
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.25);
  background: #31343b;
  opacity: 0;
  z-index: -1;
  border-radius: inherit;
  transition: opacity 0.4s ease-in-out;
}

.link {
  position: absolute;
  inset: 0;
  z-index: 1;
}

@media (hover: hover) {
  .root:hover .button {
    color: #fff;
  }
  .root:hover .button::after,
  .root:hover::after {
    opacity: 1;
  }
}
