.heading {
  color: white;
  font-family: var(--second-family);
  font-weight: 900;
  font-size: clamp(25px, 4.9dvw, 45px);
  line-height: 100%;
  text-align: center;
  color: #fff;
  margin: 20px 0;
}

h2.heading {
  color: white;
  font-family: var(--second-family);
  font-weight: 900;
  font-size: clamp(20px, 4dvw, 36px);
  line-height: 100%;
  text-align: center;
  color: #fff;
  margin: 20px 0;
}

h3.heading {
  color: white;
  font-family: var(--second-family);
  font-weight: 900;
  font-size: clamp(16px, 3.5dvw, 30px);
  line-height: 100%;
  text-align: center;
  color: #fff;
  margin: 20px 0;
}
