.step {
  width:60px;
  height: 60px;
 border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;justify-content: center;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}


.step_image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  object-fit: cover;
}

.step_circle {
  z-index: 1;
  position: relative;
}

.text {
  font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 130%;
color: #fff;
}
.container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
}

.steps_item {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.25);
background: #23252a;
border-radius: 10px;
padding: 30px 30px;
}

@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(2,1fr);
  }
}
@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(1,1fr);
  }
}