.content {
  width: 85dvw;
  max-width: 820px;
  display: flex;
  gap: 10px;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: 30px;
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #fff;
}

.text_small {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
  max-width: 585px;
}

@media screen and (max-width: 576px) {
  .content {
    padding-inline: 0px;
  }
}
