.root {
  flex-grow: 1;
}

.head {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #fff;
}

.head {
  padding-right: 40px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 130px;
  padding-bottom: 10px;
}

.amount {
  text-align: center;
}

@media screen and (max-width: 576px) {
  .amount {
    display: none;
  }
}
