.root {
  position: relative;
  margin-left: auto;
  min-width: 180px;
}

.box {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  gap: 8px;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.4s ease-in-out, padding 0.4s ease-in-out,
    border-width 0.4s ease-in-out;
  border-radius: 10px;
  padding: 0 8px;
  border: 0px solid #ffffff5d;
  background: #23252a;
}

.active .box {
  grid-template-rows: 1fr;
  padding-block: 8px;
  border-width: 1px;
}

.list {
  min-height: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and (max-width: 768px) {
  .root {
    margin-left: 0;
    min-width: unset;
  }
}
