section.section {
  padding-top: 0;
}

.root {
  width: 100%;
  padding: 30px 30px 50px;
  border-radius: 10px;
  backdrop-filter: blur(12px);
}

.root::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: inherit;
  border: 1px solid rgba(255, 255, 255, 0.4);
  opacity: 0.3;
  background: #23252a;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
}

.title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: clamp(24px, 4vw, 30px);
  line-height: 130%;
  color: #fff;
  margin-bottom: 50px;
}

.list {
  display: flex;
  gap: 35px;
  margin-bottom: 30px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 42px 10px;
  backdrop-filter: blur(24px);
  border-radius: 10px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.25);
  background: rgba(35, 37, 42, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.4);
  max-width: 320px;
  width: 100%;
}

.item_title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 35px;
  line-height: 130%;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}

.item_descr {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #de1717;
}

.small_title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #fff;
}

.descr {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.5);
}

.bot {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid rgba(217, 217, 217, 0.2);
}

.copy {
  max-width: 670px;
}

@media screen and (max-width: 1024px) {
  .root {
    padding: 30px 14px;
  }
  .title {
    margin-bottom: 20px;
  }
  .list {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .list {
    flex-direction: column;
    gap: 20px;
  }

  .item {
    max-width: unset;
    padding: 20px 10px;
  }

  .bot {
    padding-top: 20px;
    margin-top: 20px;
  }
}
