.root {
  display: grid;
  grid-template-rows: 0fr;
  animation: fadeIn 0.4s ease-out forwards;
  z-index: 3;
}

.root {
  padding-block: 12px;
  border-bottom: 1px solid rgba(225, 225, 225, 0.2);
  display: flex;
  flex-wrap: wrap;


}


