.button {
  display: flex;
}

.root {
  position: relative;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  height: 80px;
  max-width: 260px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: clamp(18px, 1.5dvw, 26px);
  line-height: 130%;
  text-align: center;
  color: #fff;
  border: 2px solid rgba(225, 225, 225, 0.2);
  background-size: cover;
  background-position: center;
  transition: border-color 0.4s ease-in-out;
  overflow: hidden;
}

.root.active {
  border-color: rgba(225, 225, 225, 0.75);
}
.root:focus-visible {
  border-color: rgba(225, 225, 225, 1);
}

@media (hover: hover) {
  .root:hover .bg {
    transform: scale(1.2);
  }
}

.bg {
  z-index: -1;
  border-radius: 8px;
  transition: transform 0.4s ease-in-out;
}

.logo_wrapper {
  padding-right: 10px;
  border-right: 1px solid rgba(217, 217, 217, 0.2);
  display: flex;
  align-items: center;
}
.navicon {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1024px) {
  .button_text {
    display: none;
  }
  .logo_wrapper {
    padding-right: unset;
    border-right: unset;
  }
  .root {
    justify-content: center;
  }
}
