.title {
font-family: var(--second-family);
font-weight: 900;
font-size: clamp(16px, 4.9vw, 20px);
line-height: 100%;
letter-spacing: 0.1em;
color: #fff;
text-transform: uppercase;
padding: 30px 0;
}

.text {
font-family: var(--font-family);
font-weight: 400;
font-size: clamp(16px, 3vw, 20px);
line-height: 130%;
color: rgba(255, 255, 255, 0.6);
}

.container {
  display: flex;
  flex-direction: column;
}