.root {
  position: relative;
  padding: 20px 30px;
  backdrop-filter: blur(24px);

  border-radius: 10px;
  min-width: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-grow: 1;
}

.root::after {
  position: absolute;
  content: "";
  inset: 0;
  z-index: -1;
  border: 1px solid rgba(225, 225, 225, 0.4);
  border-radius: inherit;
  opacity: 0.3;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.25);
  background: #23252a;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #fff;
}

.list {
  margin-top: auto;
}

.item {
  padding: 9px 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  text-align: right;
}

.item:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
