.root {
  display: flex;
  gap: 20px;

  justify-content: flex-end;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .root {
    display: flex;
    gap: 10px;
  }
}
@media screen and (max-width: 576px) {
  .root {
    gap: 8px;
    margin-right: -6px;
  }
}
