.root {
  position: absolute;
  z-index: -1;
  right: 10px;
  top: -90px;
  height: auto;
  
}


@media screen and (max-width: 1200px) {
  .root {
  max-width: 150px;
  top: -80px;
  }
}
@media screen and (max-width: 768px) {
  .root {
  max-width: 100px;
  top: -50px;
  }
}
@media screen and (max-width: 567px) {
  .root {
    display: none;
  }
}
