.root {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  transform: translate(calc(100dvw - 60px - 40px), -40px);
}


@media screen and (max-width: 1024px) {
  .root {
    display: none;
  }
  
}