.root {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  padding: clamp(15px, 2vw, 20px);
  border-radius: 15px;
  margin-bottom: 10px;
}

.title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: clamp(16px, 3vw, 26px);
  line-height: 130%;
  color: #fff;
}
