.bg {
position: absolute;
top: clamp(-23px, -1.5vw, -43px);
right: 16px;
max-height: 116px;
object-fit: cover;
aspect-ratio: 1/1;
z-index: -1;
}


@media screen and (max-width: 1024px) {
  .bg {
    max-width: 100px;
    height: auto;
    top: -10px;
    right: 20px;
  }
}

@media screen and (max-width: 800px) {
  .bg {
    max-width: 70px;
    height: 70px;
    top: -20px;
    right: 0;
  }
}

@media screen and (max-width: 500px) {
  .bg {
    display: none;
  }
}