.root {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .root {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 14px;
  }

  .link:last-child {
    grid-column: span 2;
  }
}
@media screen and (max-width: 576px) {
  .root {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .link:last-child {
    grid-column: unset;
  }
}
