.logout {
  width: fit-content;
  margin-left: auto;
  margin-top: calc(-1 * clamp(30px, 2.865dvw, 55px) + 10px);
}

.root {
  padding-top: 50px;
}

.title {
  text-align: left;
}

@media screen and (max-width: 576px) {
  .root {
    padding-top: 30px;
  }
}
