.root {
  border-bottom: 1px solid #fff3;
  display: flex;
  gap: 16px;

  padding-bottom: 16px;
  padding-top: 16px;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .root {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
  }

  .price {
    grid-row: span 2;
  }

  .search {
    grid-row: 2;
    grid-column: 2 / span 2;
  }
}

@media screen and (max-width: 768px) {
  .root {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8px;
  }

  .price {
    grid-row: 1;
    grid-column: 1 / span 2;
  }

  .search {
    grid-row: 3;
    grid-column: 1 / span 2;
  }
}
