.root {
  position: relative;
  min-height: calc(100dvh - 80px);
  margin-bottom: clamp(30px, 2.865dvw, 55px);
  display: flex;
  place-items: center;
}

.image {
  z-index: -1;
  opacity: 0.09;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.info {
  display: flex;
  gap: 20px;
}

.item:nth-child(1) {
  max-width: 40%;
}
.item:nth-child(2) {
  flex-grow: 1;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.flex {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 1024px) {
  .info {
    flex-direction: column;
  }
  .item:nth-child(1) {
    max-width: unset;
  }
}
@media screen and (max-width: 768px) {
  .flex {
    flex-direction: column;
  }
}
